@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: "Roboto",sans-serif;
}

.movie-img{
    max-width: 700px;
    width: 90%;
}

#movieDialog{
    max-width: 90%;
    margin-inline: auto;
}

iframe{
    max-width: 100%;
}

.skeleton-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    border: 2px solid gray;
}

.skeleton-item * {
    animation: skeleton 1s ease-in-out forwards infinite;
}

.skeleton-img{
    width: 300px !important;
    height: 300px !important;
    background-color: gray;
}

.movies-form{
    display: grid;
}

.form-wrapper{
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media screen and (min-width:576px){
    .form-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:768px){
    .form-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:1024px){
    .form-wrapper{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (min-width:1240px){
    .form-wrapper{
        grid-template-columns: repeat(5,1fr);
    }
}

@keyframes skeleton{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}