@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: "Roboto",sans-serif;
}

.movie-img{
    max-width: 700px;
    width: 90%;
}

#movieDialog{
    max-width: 90%;
    margin-inline: auto;
}

iframe{
    max-width: 100%;
}